In [1]:
# install postgres DBMS
# install the module to interact with postgres
# write a seperate functinos for create table, insert data, update data, delete data, retrive data

In [2]:
import sqlite3

In [3]:
con=sqlite3.connect("db1.sqlite3")

In [4]:
cur=con.cursor()

In [5]:
q="create table customer (id int, name varcrchar(250))"
cur.execute(q)

In [ ]:
import sqlite3
con=sqlite3.connect("db1.sqlite3")
cur=con.cursor()
q="create table customer (id int, name varcrchar(250))"
cur.execute(q)

In [6]:
pwd

'/home/khyaathipython/batch57'

In [9]:
q="insert into customer(id, name) values(1,'sai')"
cur.execute(q)

In [11]:
con.commit()

In [12]:
names=["samba","vikas","srinivas","praneeth","mahesh","ram"]
import random
print(random.choice(names))

mahesh

In [13]:
names=["samba","vikas","srinivas","praneeth","mahesh","ram"]
import random
print(random.choice(names))

ram

In [14]:
names=["samba","vikas","srinivas","praneeth","mahesh","ram"]
import random
print(random.choice(names))

srinivas

In [15]:
names=["samba","vikas","srinivas","praneeth","mahesh","ram"]
import random
print(random.choice(names))

ram

In [16]:
names=["samba","vikas","srinivas","praneeth","mahesh","ram"]
import random
print(random.choice(names))

samba

In [17]:
names=["samba","vikas","srinivas","praneeth","mahesh","ram"]
import random
print(random.choice(names))

mahesh

In [18]:
import random
names=["samba","vikas","srinivas","praneeth","mahesh","ram"]
for i in range(2,200):
    q="insert into customer(id, name) values(%s,'%s')"%(i, random.choice(names))
    cur.execute(q)
    con.commit()

In [20]:
q="select * from customer"
cur.execute(q)

In [21]:
cur.fetchall()

[(1, 'sai'),
 (2, 'mahesh'),
 (3, 'samba'),
 (4, 'vikas'),
 (5, 'samba'),
 (6, 'samba'),
 (7, 'mahesh'),
 (8, 'praneeth'),
 (9, 'ram'),
 (10, 'praneeth'),
 (11, 'samba'),
 (12, 'vikas'),
 (13, 'mahesh'),
 (14, 'praneeth'),
 (15, 'mahesh'),
 (16, 'vikas'),
 (17, 'vikas'),
 (18, 'praneeth'),
 (19, 'vikas'),
 (20, 'vikas'),
 (21, 'ram'),
 (22, 'samba'),
 (23, 'samba'),
 (24, 'vikas'),
 (25, 'srinivas'),
 (26, 'vikas'),
 (27, 'ram'),
 (28, 'samba'),
 (29, 'srinivas'),
 (30, 'samba'),
 (31, 'ram'),
 (32, 'mahesh'),
 (33, 'srinivas'),
 (34, 'ram'),
 (35, 'samba'),
 (36, 'praneeth'),
 (37, 'srinivas'),
 (38, 'mahesh'),
 (39, 'praneeth'),
 (40, 'ram'),
 (41, 'mahesh'),
 (42, 'ram'),
 (43, 'samba'),
 (44, 'samba'),
 (45, 'samba'),
 (46, 'srinivas'),
 (47, 'ram'),
 (48, 'vikas'),
 (49, 'vikas'),
 (50, 'samba'),
 (51, 'srinivas'),
 (52, 'srinivas'),
 (53, 'mahesh'),
 (54, 'srinivas'),
 (55, 'ram'),
 (56, 'mahesh'),
 (57, 'praneeth'),
 (58, 'samba'),
 (59, 'samba'),
 (60, 'vikas'),
 (61, 'samba'),
 (62, 'mahesh'),
 (63, 'samba'),
 (64, 'vikas'),
 (65, 'vikas'),
 (66, 'mahesh'),
 (67, 'ram'),
 (68, 'srinivas'),
 (69, 'samba'),
 (70, 'samba'),
 (71, 'mahesh'),
 (72, 'praneeth'),
 (73, 'vikas'),
 (74, 'mahesh'),
 (75, 'ram'),
 (76, 'vikas'),
 (77, 'vikas'),
 (78, 'ram'),
 (79, 'mahesh'),
 (80, 'srinivas'),
 (81, 'vikas'),
 (82, 'praneeth'),
 (83, 'praneeth'),
 (84, 'vikas'),
 (85, 'vikas'),
 (86, 'praneeth'),
 (87, 'srinivas'),
 (88, 'samba'),
 (89, 'vikas'),
 (90, 'samba'),
 (91, 'ram'),
 (92, 'ram'),
 (93, 'ram'),
 (94, 'mahesh'),
 (95, 'ram'),
 (96, 'praneeth'),
 (97, 'samba'),
 (98, 'mahesh'),
 (99, 'vikas'),
 (100, 'vikas'),
 (101, 'mahesh'),
 (102, 'ram'),
 (103, 'ram'),
 (104, 'mahesh'),
 (105, 'mahesh'),
 (106, 'samba'),
 (107, 'ram'),
 (108, 'praneeth'),
 (109, 'praneeth'),
 (110, 'vikas'),
 (111, 'mahesh'),
 (112, 'mahesh'),
 (113, 'ram'),
 (114, 'samba'),
 (115, 'ram'),
 (116, 'mahesh'),
 (117, 'praneeth'),
 (118, 'vikas'),
 (119, 'vikas'),
 (120, 'srinivas'),
 (121, 'vikas'),
 (122, 'ram'),
 (123, 'samba'),
 (124, 'vikas'),
 (125, 'samba'),
 (126, 'praneeth'),
 (127, 'srinivas'),
 (128, 'srinivas'),
 (129, 'praneeth'),
 (130, 'srinivas'),
 (131, 'vikas'),
 (132, 'mahesh'),
 (133, 'srinivas'),
 (134, 'srinivas'),
 (135, 'praneeth'),
 (136, 'vikas'),
 (137, 'mahesh'),
 (138, 'vikas'),
 (139, 'praneeth'),
 (140, 'mahesh'),
 (141, 'ram'),
 (142, 'samba'),
 (143, 'srinivas'),
 (144, 'ram'),
 (145, 'srinivas'),
 (146, 'samba'),
 (147, 'srinivas'),
 (148, 'praneeth'),
 (149, 'mahesh'),
 (150, 'vikas'),
 (151, 'ram'),
 (152, 'praneeth'),
 (153, 'samba'),
 (154, 'samba'),
 (155, 'praneeth'),
 (156, 'vikas'),
 (157, 'vikas'),
 (158, 'mahesh'),
 (159, 'srinivas'),
 (160, 'praneeth'),
 (161, 'samba'),
 (162, 'ram'),
 (163, 'samba'),
 (164, 'mahesh'),
 (165, 'vikas'),
 (166, 'praneeth'),
 (167, 'srinivas'),
 (168, 'vikas'),
 (169, 'praneeth'),
 (170, 'srinivas'),
 (171, 'srinivas'),
 (172, 'praneeth'),
 (173, 'vikas'),
 (174, 'mahesh'),
 (175, 'praneeth'),
 (176, 'samba'),
 (177, 'praneeth'),
 (178, 'mahesh'),
 (179, 'ram'),
 (180, 'srinivas'),
 (181, 'samba'),
 (182, 'vikas'),
 (183, 'samba'),
 (184, 'praneeth'),
 (185, 'vikas'),
 (186, 'samba'),
 (187, 'praneeth'),
 (188, 'mahesh'),
 (189, 'vikas'),
 (190, 'srinivas'),
 (191, 'praneeth'),
 (192, 'ram'),
 (193, 'vikas'),
 (194, 'vikas'),
 (195, 'praneeth'),
 (196, 'samba'),
 (197, 'srinivas'),
 (198, 'srinivas'),
 (199, 'ram')]

In [22]:
q="select name, count(*) as cnt from customer group by name order by cnt"
cur.execute(q)
data = cur.fetchall()
print(data)

[('sai', 1), ('srinivas', 28), ('ram', 29), ('mahesh', 31), ('praneeth', 32), ('samba', 37), ('vikas', 41)]

In [24]:
q="select name from customer where id=2"
cur.execute(q)
data = cur.fetchall()
print(data)

[('mahesh',)]

In [27]:
q="select name from customer where id=2"
cur.execute(q)
data = cur.fetchall()
print(data)
q="update customer set name='mahesh' where id=2"
cur.execute(q)
con.commit()
q="select name from customer where id=2"
cur.execute(q)
data = cur.fetchall()
print(data)

[('MAHESH',)]
[('mahesh',)]

In [28]:
def browse(c_id):
    q="select name from customer where id=%s"%(c_id)
    cur.execute(q)
    data = cur.fetchall()
    print(data)
def update(c_id,name):
    q="update customer set name='%s' where id=%s"%(name,c_id)
    cur.execute(q)
    con.commit()
browse(3)
update(3,'SAMBA')
browse(3)

[('samba',)]
[('SAMBA',)]

In [29]:
def browse(c_id):
    q="select name from customer where id=%s"%(c_id)
    cur.execute(q)
    data = cur.fetchall()
    print(data)
def update(c_id,name):
    q="update customer set name='%s' where id=%s"%(name,c_id)
    cur.execute(q)
    con.commit()
def delete(c_id):
    q="delete from customer where id=%s"%(c_id)
    cur.execute(q)
    con.commit()
browse(3)
delete(3)
browse(3)

[('SAMBA',)]
[]

In [1]:
# console based app to do db operations.

In [3]:
import psycopg2
con = psycopg2.connect(host="localhost",port=5432,user="postgres",password="root",database="batch57")
cur=con.cursor()
q="create table customer (id int, name varchar(250))"
cur.execute(q)
import random
names=["samba","vikas","srinivas","praneeth","mahesh","ram"]
for i in range(2,200):
    q="insert into customer(id, name) values(%s,'%s')"%(i, random.choice(names))
    cur.execute(q)
    con.commit()
q="select name, count(*) as cnt from customer group by name order by cnt"
cur.execute(q)
data = cur.fetchall()
print(data)

[('srinivas', 27), ('ram', 27), ('vikas', 31), ('praneeth', 32), ('samba', 36), ('mahesh', 45)]